:root {
    --basePadding: 12px;
    --leftPadding: 24px;
    --bgMidColor: #fafbfc;
    --bgLightColor: #FFFFFF;
    --borderColor: #E5E7EB;
    --formWidth: 70vw;
    font-size: 12pt;
}

@font-face {
    font-family: Orbitron;
    src: url(assets/Orbitron-VariableFont_wght.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: url("assets/splash.jpg");
    background-size: contain;
    background-position-x: 0vw;
    background-position-y: 0vw;
    display: flex;
}

em {
    font-style: italic;
}

.splash {
    position: static;
    flex: 1 1 calc(100vw - var(--formWidth));
    align-self: center;
}

@media only screen and (max-width: 650px) {
    body {
        background-image: none;
        background-color: var(--bgMidColor);
    }

    .splash {
        display: none;
    }
}

.logo-anchor {
    display: flex;
    flex: 1 1 calc(100vw - var(--formWidth));
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgb(0, 0, 0, 70%);

    height: 18vh;
    position: relative;
    top: -20vh;


    font-family: "Orbitron";
    font-size: 2rem;
    color: white;

}

.logo {
    height: 100px;
    margin: 4px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0.1 var(--formWidth);
    height: 100vh;
    background-color: var(--bgMidColor);
}

label {
    font-size: 0.75rem;
    letter-spacing: 0.1ch;
    padding-bottom: 2px;
}


.call-to-action {
    padding: 30px 8px 30px var(--leftPadding);
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.0rem;
    font-weight: 700;
    padding-block: var(--basePadding);
    padding-inline: var(--leftPadding);
}

form {
    /* border: 1px solid red; */
    box-shadow: 0px 5px 5px #d4d4d4;

}

input {
    border: 1px solid var(--borderColor);
    height: 2lh;
    padding-left: 6px;
    width: 200px;
}

button {
    padding-inline: calc(4 * var(--basePadding));
    padding-block: var(--basePadding);
    border-radius: 6px;
}

fieldset:first-child {
    background-color: var(--bgLightColor);
    box-shadow: 2 2 4px #AAAAAA;
}

fieldset:nth-child(2) {
    padding: var(--basePadding);
    padding-inline: var(--leftPadding);
}

form>fieldset>div {
    display: flex;
    flex-wrap: wrap;
    padding-left: var(--leftPadding);
    gap: 16px;
}

form>fieldset>div div {
    display: flex;
    flex-direction: column;
    padding-block: var(--basePadding);
}

.login-nav {
    padding: var(--basePadding);
}
