:root {
    --basePadding: 12px;
    --leftPadding: 24px;
    --bgMidColor: #fafbfc;
    --bgLightColor: #FFFFFF;
    --borderColor: #E5E7EB;
    --darkAccent: #607473;
    --mainTextColor: #333f3e;
    --accent: #c04538;
    --formWidth: 70vw;
    font-size: 12pt;
}

@font-face {
    font-family: Orbitron;
    src: url(assets/Orbitron-VariableFont_wght.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    background-color: var(--bgMidColor);
    color: var(--mainTextColor);
}

em {
    font-style: italic;
}

.splash {
    background-image: url("assets/splash_small.jpg");
    background-size: cover;

    flex: 1 1 calc(100vw - var(--formWidth));
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-self: center;
}


@media only screen and (max-width: 650px) {
    body {
        background-image: none;
        background-color: var(--bgMidColor);
    }

    .splash {
        display: none;
    }
}

.logo-anchor {
    display: flex;
    flex: 1 1 auto;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 20px;

    background-color: rgb(0, 0, 0, 70%);

    min-height: 18vh;
    max-height: 18vh;
    margin-top: 20vh;

    font-family: "Orbitron";
    font-size: 2rem;
    color: var(--bgMidColor);
}

.credit-splash {
    color: var(--borderColor);
    align-self: center;

    margin-top: auto;

    max-height: 1ch;
    padding-bottom: 25px;

    font-size: 0.6rem;

}

.logo {
    height: 100px;
    margin: 4px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0.1 var(--formWidth);
    height: 100vh;
    background-color: var(--bgMidColor);
}

label {
    color: var(--mainTextColor);
    font-size: 0.75rem;
    letter-spacing: 0.1ch;
    padding-bottom: 2px;
}


.call-to-action {
    padding: 30px 8px 30px var(--leftPadding);
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.0rem;
    font-weight: 700;
    padding-block: var(--basePadding);
    padding-inline: var(--leftPadding);
}

form {
    /* border: 1px solid red; */
    box-shadow: 0px 5px 5px #d4d4d4;

}

input {
    outline: none;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    height: 2lh;
    padding-left: 6px;
    width: 200px;
}

input:focus {
    border: 1px solid var(--darkAccent);
    box-shadow: 3px 3px 5px #d4d4d4;
}

.invalid-input {
    border: 1px solid red;
}

.req::after {
    position: fixed;
    padding-top: 3px;
    color: red;
    font-size: 0.8rem;
    content: "* Required";
}

.req-good::after {
    position: fixed;
    padding-top: 3px;
    display: inline;
    text-shadow: 1px 1px 3px #444444;
    color: lime;
    font-size: 0.8rem;
    content: "✓";
}

.valid-pass {
    border: 2px solid lime;
}


button {
    padding-inline: calc(4 * var(--basePadding));
    padding-block: var(--basePadding);

    width: 200px;
    border-radius: 6px;
    border-style: none;

    box-shadow: 3px 3px 5px #d4d4d4;

    color: var(--bgMidColor);
    font-weight: bold;
    background-color: var(--darkAccent);
}

button:hover {
    background-color: var(--accent);
    box-shadow: 4px 4px 5px #AAAAAA;
}

fieldset:first-child {
    background-color: var(--bgLightColor);
    box-shadow: 2 2 4px #AAAAAA;
}

fieldset:nth-child(2) {
    padding: var(--basePadding);
    padding-inline: var(--leftPadding);
}

form>fieldset>div {
    display: flex;
    flex-wrap: wrap;
    padding-left: var(--leftPadding);
    gap: 16px;
}

form>fieldset>div div {
    display: flex;
    flex-direction: column;
    padding-block: var(--basePadding);
}

.login-nav {
    padding: var(--basePadding);
}

a {
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}
